@font-face {
    font-family: 'Superscratchy';
    src: url('Superscratchy.woff2') format('woff2'),
        url('Superscratchy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

